<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de Clientes</title> 
    <link rel='stylesheet' href='stylesheets/bootstrap.css' />  
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Listagem de Clientes</h1>
    <p>Clientes já cadastrados no sistema.</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">UF</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>      
      <tbody>
        <% if(!docs || docs.length == 0) { %>
          <tr>
            <th colspan="4">Nenhum cliente cadastrado.</th>
          </tr>
        <% } else { 
          docs.forEach(function(customer){ %>
            <tr>
              <td style="width:50%"><%= customer.nome %></td>
              <td style="width:15%"><%= customer.idade %></td>
              <td style="width:15%"><%= customer.uf %></td>
              <td>
                <a href="/new/">Desativar</a>
                <a href="/edit/<%= customer._id %>">Editar</a>
                <a href="/delete/<%= customer._id %>" onclick="return confirm('Tem certeza?');">Excluir</a>
             </td>
            </tr>
          <% }) 
        }%>    
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>          
          </i><a class="btn btn-primary btn-sm" href="/new">Novo cliente</a>
        </tr>
      </tfoot>
      
    </table>    
    <!-- <script src="node_modules\bootstrap\dist\js\bootstrap.js"></script> -->
    <script>
      if(location.href.indexOf('delete=true') != -1){
          alert('Cliente excluído com sucesso!');
      }
      else if(location.href.indexOf('edit=true') != -1){
          alert('Cliente editado com sucesso!');
      }
      else if(location.href.indexOf('new=true') != -1){
          alert('Cliente cadastro com sucesso!');
      }
  </script>
  </body>
</html>